<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!particle.token">
      Please login and select a device. <br />
      <button ion-button (click)="login()">Login</button>
  </div>
  <div *ngIf="particle.token && particle.device">
      <h5> Athletic Gear </h5>
      <p>
        This app informs the user about the temperature in the environment their in.
      <!-- You can display different device states by checking particle.device -->
      <p *ngIf="!particle.device || !particle.device.connected">{{particle.device.name}} is offline</p>
    
 </div>
</ion-content>
